
header {
  padding: 40px;
  text-align: center;
}

header h1 {
  margin: 0 auto;
}

nav {
  text-transform: uppercase;
}

nav ul {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  list-style-type: none;
  padding: 1rem;
}

nav a {
  display: flex;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  background: rgb(138, 138, 138);
  border-radius: 2rem;
}
